[submodule "MyGameEngine/vendor/spdlog"]
	path = MyGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MyGameEngine/vendor/GLFW"]
	path = MyGameEngine/vendor/GLFW
	url = https://github.com/voidiii/glfw.git
[submodule "MyGameEngine/vendor/imgui"]
	path = MyGameEngine/vendor/imgui
	url = https://github.com/voidiii/imgui
[submodule "MyGameEngine/src/MGE/Math/Mather"]
	path = MyGameEngine/src/MGE/Math/Mather
	url = https://github.com/voidiii/Mathter.git
[submodule "MyGameEngine/vendor/optick"]
	path = MyGameEngine/vendor/optick
	url = https://github.com/voidiii/optick.git
[submodule "MyGameEngine/vendor/glm"]
	path = MyGameEngine/vendor/glm
	url = https://github.com/g-truc/glm
